<div class="table-responsive-md">
  <br>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Pago efectuado</th>
        <th>Mes Pagado</th>
        <th>Fecha</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="tabla">
      {{#each pagos}}
      <tr>
        <td>{{nombreAlumno}}</td>
        <td>{{apellidoAlumno}}</td>
        <td>{{pagoMonto}}</td>
        <td>{{pagoMes}}</td>
        <td>{{fechaCreacion}}</td>
        <td><a href="/pagos/editarPago/{{_id}}">Editar</a></td>
      </tr>     
      {{/each}}
    </tbody>
  </table>
</div>